[submodule "mro-ldap-ssh-c7"]
	path = inactive/mro-ldap-ssh-c7
	url = git@github.com:bi-sdal/mro-ldap-ssh-c7.git
[submodule "pg-ldap-ssh-c7"]
	path = active/pg-ldap-ssh-c7
	url = git@github.com:bi-sdal/pg-ldap-ssh-c7.git
[submodule "rss-mro-ldap-ssh-c7"]
	path = inactive/rss-mro-ldap-ssh-c7
	url = git@github.com:bi-sdal/rss-mro-ldap-ssh-c7.git
[submodule "ldap-ssh-c7"]
	path = inactive/ldap-ssh-c7
	url = git@github.com:bi-sdal/ldap-ssh-c7.git
[submodule "c7"]
	path = inactive/c7
	url = git@github.com:bi-sdal/c7.git
[submodule "dkw-httpd-ldap-ssh-c7"]
	path = inactive/dkw-httpd-ldap-ssh-c7
	url = git@github.com:bi-sdal/dkw-httpd-ldap-ssh-c7.git
[submodule "httpd-ldap-ssh-c7"]
	path = inactive/httpd-ldap-ssh-c7
	url = git@github.com:bi-sdal/httpd-ldap-ssh-c7.git
[submodule "adminer-httpd-ldap-ssh-c7"]
	path = inactive/adminer-httpd-ldap-ssh-c7
	url = git@github.com:bi-sdal/adminer-httpd-ldap-ssh-c7.git
[submodule "ngx-ldap-ssh-c7"]
	path = inactive/ngx-ldap-ssh-c7
	url = git@github.com:bi-sdal/ngx-ldap-ssh-c7.git
[submodule "dkw-ngx-ldap-ssh-c7"]
	path = inactive/dkw-ngx-ldap-ssh-c7
	url = git@github.com:bi-sdal/dkw-ngx-ldap-ssh-c7.git
[submodule "adm-ngx-ldap-ssh-c7"]
	path = inactive/adm-ngx-ldap-ssh-c7
	url = git@github.com:bi-sdal/adm-ngx-ldap-ssh-c7.git
[submodule "rpkgs-mro-ldap-ssh-c7"]
	path = inactive/rpkgs-mro-ldap-ssh-c7
	url = git@github.com:bi-sdal/rpkgs-mro-ldap-ssh-c7.git
[submodule "tex-ldap-ssh-c7"]
	path = inactive/tex-ldap-ssh-c7
	url = git@github.com:bi-sdal/tex-ldap-ssh-c7.git
[submodule "shy-mro-ldap-ssh-c7"]
	path = inactive/shy-mro-ldap-ssh-c7
	url = git@github.com:bi-sdal/shy-mro-ldap-ssh-c7.git
[submodule "r-ldap-ssh-c7"]
	path = inactive/r-ldap-ssh-c7
	url = git@github.com:bi-sdal/r-ldap-ssh-c7.git
[submodule "rss-r-ldap-ssh-c7"]
	path = inactive/rss-r-ldap-ssh-c7
	url = git@github.com:bi-sdal/rss-r-ldap-ssh-c7.git
[submodule "dpl"]
	path = inactive/dpl
	url = git@github.com:bi-sdal/dpl.git
[submodule "dpl7"]
	path = active/dpl7
	url = git@github.com:bi-sdal/dpl7.git
[submodule "active/c7sd_auth"]
	path = active/c7sd_auth
	url = git@github.com:bi-sdal/c7sd_auth.git
