[submodule "mro-ldap-ssh-c7"]
	path = mro-ldap-ssh-c7
	url = git@github.com:bi-sdal/mro-ldap-ssh-c7.git
[submodule "pg-ldap-ssh-c7"]
	path = pg-ldap-ssh-c7
	url = git@github.com:bi-sdal/pg-ldap-ssh-c7.git
[submodule "dkw-ngx-ldap-ssh-c7"]
	path = dkw-ngx-ldap-ssh-c7
	url = git@github.com:bi-sdal/dkw-ngx-ldap-ssh-c7.git
[submodule "rss-mro-ldap-ssh-c7"]
	path = rss-mro-ldap-ssh-c7
	url = git@github.com:bi-sdal/rss-mro-ldap-ssh-c7.git
[submodule "ldap-ssh-c7"]
	path = ldap-ssh-c7
	url = git@github.com:bi-sdal/ldap-ssh-c7.git
[submodule "c7"]
	path = c7
	url = git@github.com:bi-sdal/c7.git
[submodule "dkw-httpd-ldap-ssh-c7"]
	path = dkw-httpd-ldap-ssh-c7
	url = git@github.com:bi-sdal/dkw-httpd-ldap-ssh-c7.git
[submodule "httpd-ldap-ssh-c7"]
	path = httpd-ldap-ssh-c7
	url = git@github.com:bi-sdal/httpd-ldap-ssh-c7.git
